.column
{
  width: 50%;
  display: inline;
  position: relative;
  float: left;
}

.column-1
{
  padding-right: 1em;
}

.column-2
{
  padding-left: 1em;
}

.column-full {
    width: 100%;
    padding-right: 0;
}