---
layout: default
---
{% assign post_quantity = site.posts | size %}
<div class="column column-1 {% if post_quantity == 0 %}column-full{% endif %}">
  <h2 class="title">SOUNDS</h2>
  <div class="soundcloud-embed">
    {% include soundcloud-embed.html %}
  </div>
</div>
{% if post_quantity != 0 %}
<div class="column column-2">
  <h2 class="title">SHOWS</h2>
  <div class="show-table">
    <div class="show-row header">
      <span class="show-cell-header city-header">CITY</span>
      <span class="show-cell-header venue-header">VENUE</span>
      <span class="show-cell-header date-header">DATE</span>
      <span class="show-cell-header info-header">INFO</span>
    </div>
    {% for show in site.posts limit:30 offset:0 %}
      {% if show.layout == "show"%}
      <div class="show-row">
        <span class="show-cell city">{{show.city}}</span>
        <span class="show-cell venue">{{show.venue}}</span>
        <span class="show-cell date">{{show.show_date}}</span>
        <span class="show-cell info">
          <a class="info-link" href="{{show.link}}">TICKETS</a>
        </span>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

