<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Cheerleader</title>
        <meta name="description" content="Cheerleader the band">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <header>
            <h1 class="logo"><img src="images/cheerleader_blue.png" alt="Cheerleader"></h1>
        </header>
        <div class="container">
            <div class="column column-1">
              <h2 class="title">SOUNDS</h2>
              <div class="soundcloud-embed">
                <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F4793253&amp;color=00a8ff&amp;auto_play=false&amp;show_artwork=false"></iframe>
              </div>
            </div>
            <div class="column column-2">
              <h2 class="title">SHOWS</h2>
              <div class="show-table">
                <div class="show-row header">
                  <span class="show-cell-header city-header">CITY</span>
                  <span class="show-cell-header venue-header">VENUE</span>
                  <span class="show-cell-header date-header">DATE</span>
                  <span class="show-cell-header info-header">INFO</span>
                </div>
                <div class="show-row">
                  <span class="show-cell city">NYC</span>
                  <span class="show-cell venue">PIANOS</span>
                  <span class="show-cell date">May 25</span>
                  <span class="show-cell info">
                    <a class="info-link" href="http://www.pianosnyc.com/showroom/the-motor-tom-05252013">TICKETS</a>
                  </span>
                </div>
              </div>
            </div>
          </div>

    </body>
</html>
